<app-blog [blogContent]="blogContent" [imageStyle]="'object-left'">
    <p class="body-text !text-lg" [ngClass]="{ 'dark-mode': darkMode$ | async }" [innerHTML]="experienceDetails.introduction"></p>
    <br>
    <h3 class="heading2 !text-2xl underline" [ngClass]="{ 'dark-mode': darkMode$ | async }" id="About My Employer">About My Employer</h3>
    <p class="body-text !text-lg" [ngClass]="{ 'dark-mode': darkMode$ | async }" [innerHTML]="experienceDetails.aboutEmployer"></p>
    <br>
    <h3 class="heading2 !text-2xl underline" [ngClass]="{ 'dark-mode': darkMode$ | async }" id="Learning Goals">Learning Goals</h3>
    <p class="body-text !text-lg" [ngClass]="{ 'dark-mode': darkMode$ | async }" >My goals for this work term were to:</p>
    <ul class="body-text !text-lg" [ngClass]="{ 'dark-mode': darkMode$ | async }">
        <li *ngFor="let goal of experienceDetails.learningGoals" [ngClass]="{'work-info':true}" [innerHTML]="goal"></li>
    </ul>
    <p class="body-text !text-lg" [ngClass]="{ 'dark-mode': darkMode$ | async }" [innerHTML]="experienceDetails.learningGoalsReflection"></p>
    <br>
    <h3 class="heading2 !text-2xl underline" [ngClass]="{ 'dark-mode': darkMode$ | async }" id="Experience">Experience</h3>
    <ng-container *ngFor="let section of experienceDetails.experience">
        <h4 *ngIf="section.heading" class="work-info underline" [innerHTML]="section.heading"></h4>
        <p class="body-text !text-lg" [ngClass]="{ 'dark-mode': darkMode$ | async }" [innerHTML]="section.body"></p>
    </ng-container>
    <br>
    <h3 class="heading2 !text-2xl underline" [ngClass]="{ 'dark-mode': darkMode$ | async }" id="Conclusion">Conclusion</h3>
    <p class="body-text !text-lg" [ngClass]="{ 'dark-mode': darkMode$ | async }" [innerHTML]="experienceDetails.conclusion"></p>
    <br>
    <h3 class="heading2 !text-2xl underline" [ngClass]="{ 'dark-mode': darkMode$ | async }" id="Acknowledgments">Acknowledgments</h3>
    <p class="body-text !text-lg" [ngClass]="{ 'dark-mode': darkMode$ | async }" [innerHTML]="experienceDetails.acknowledgments"></p>
</app-blog>
