<div class="relative size-full">
    <button (click)="nextImage()" class="absolute right-0 z-10 h-full pl-8  pr-3 text-right text-2xl text-white lg:pl-24 lg:pr-8 lg:text-4xl"><fa-icon [icon]="faChevronRight"></fa-icon></button>
    <button (click)="prevImage()" class="absolute left-0 z-10 h-full pl-3 pr-8 text-left text-2xl text-white lg:pl-8 lg:pr-24 lg:text-4xl"><fa-icon [icon]="faChevronLeft"></fa-icon></button>
    <div class="flex size-full snap-x snap-mandatory overflow-x-auto" [ngClass]="{ 'dark-mode': darkMode$ | async }">
        <img class="pointer-events-none inline-block h-full snap-start object-cover" *ngFor="let image of images; let i = index" [src]="image" [id]="'image'+i"/>
    </div>
</div>
