.text-shrink {
    animation: text-shrink 1s 0.1s forwards;
  }

  .animate-in {
    opacity: 0;
    animation: fade-in 1s 3s forwards;
  }

  .animate-in-list li {
    opacity: 0;
  }

  .animate-in-list li:nth-child(1) {
    animation: fade-in 1s 3.3s forwards;
  }

  .animate-in-list li:nth-child(2) {
    animation: fade-in 1s 3.5s forwards;
  }

  .animate-in-list li:nth-child(3) {
    animation: fade-in 1s 3.7s forwards;
  }

  .dark-mode svg {
    fill: rgb(226, 223, 225);
  }

  @keyframes text-shrink {
    0% {
      font-size: inherit;
    }
    100% {
      font-size: 1.5rem;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }

  @media (max-width: 830px) {
    .home-container {
      display: flex;
      flex-direction: column;
      height: 70%;
      width: 90%;
      align-items: flex-start;
      justify-content: space-evenly;
      margin-top: 15%;
    }
    .center {
      align-items: flex-start;
    }
    .title {
      font-size: 12vw;
    }
    .subtitle {
      font-size: 5vw;
      justify-self: flex-end;
    }
    .contact-container {
      margin: 0;
      width: fit-content;
      padding: 0;
      background: none;
      margin-left: 0.3rem;
    }
    .contact-container.dark-mode {
      background: none;
    }
    .contact-container > h3 {
      margin: 0;
    }
    .info-buttons-container {
      grid-row: 2;
      margin: 5%;
      align-self: start;
    }
    .text-container {
      margin: 0 5% 0 5% !important;
    }
    .headshot {
      border-radius: 2rem;
      box-shadow: rgb(227, 45, 145) 20px 20px 0px;
      transform: none;
    }
  }