@use '../../../assets/_variables' as v;
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    background-color: v.$light-background;
    &.dark-mode {
        background-color: v.$dark-background;
    }
    padding: 0 5% 0 5%;
    box-sizing: border-box;
}

.title {
    @include v.underline-button;
}

a {
    color: unset;
}