@use '../../../assets/_variables' as v;
.navbar-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    position: absolute;
    z-index: 100;
    right: 0;
    top: 0;
    width: 100%;
    background-color: v.$light-background;
    &.dark-mode {
        background-color: v.$dark-background;
    }
    padding: 0 5% 0 5%;
    box-sizing: border-box;
}

.title {
    @include v.underline-button;
}

a {
    color: unset;
}

.collapse-button {
    background-color: unset;
    border: none;
    display: none;
    font-size: 5vh;
    width: 20%;
    &.dark-mode {
        color: v.$light-background;
    }
}

.mobile-info-buttons {
    display: none;
}

@media (max-width: 600px) {
    .navbar-container {
        display: flex;
        flex-direction: column;
    }
    .collapse-button {
        display: block;
        align-self: center;
    }
    .mobile-info-buttons {
        display: block;
        opacity: 0;
        transition: all 0.3s;
        &.show {
            opacity: 1;
        }
        position: absolute;
        top: 10vh;
        z-index: 100;
        background-color: v.$dark-background;
        padding: 0 5% 5% 5%;
        width: 100%;
        box-sizing: border-box;
    }
    .info-buttons {
        display: none;
    }
    .title {
        display: block;
        margin: 5% 0 5% 0;
        width: 50%;
    }
    .navbar-info-container {
        height: 10vh;
    }
}