<div [ngClass]="{'navbar-container':true}">
    <div [ngClass]="{'navbar-info-container':true, 'dark-mode': darkMode$|async}">
        <a [routerLink]="['/home']" [queryParams]="{showAnimation:false}">
            <h1 [ngClass]="{'title':true, 'dark-mode': darkMode$|async}">Noureldeen Ahmed</h1>
        </a>
        <app-info-buttons [ngClass]="{'info-buttons':true, 'collapsed':collapsed}" [currPage]="currPage" [showView]="false"></app-info-buttons>
        <button (click)="openNavBar()" [ngClass]="{'collapse-button':true, 'dark-mode': darkMode$|async, 'collapsed':collapsed}">{{collapseButtonText}}</button>
    </div>
    <div [ngClass]="{'mobile-info-buttons': true, 'show':!collapsed}">
        <app-info-buttons [rows]="true" [ngClass]="{'mobile-buttons': true}" [currPage]="currPage" [showView]="false"></app-info-buttons>
    </div>
</div>