@use '../../../assets/_variables' as v;
button {
    height: 100%;
    width: 100%;
    background-color: v.$light-background;
    border-radius: 1rem;
    border-width: 0;
    padding: 0.5rem;
    transition: 0.3s;
    cursor: pointer;
    &.dark-mode {
        background-color: v.$dark-background;
        &:hover {
            background-color: v.$light-background;
            &:hover path {
                stroke: v.$dark-background;
                fill: none;
            }
        }
    }
    &:hover {
        background-color: v.$dark-background;
    }
    &:hover path {
        fill: v.$light-background;
    }
}

.moon {
    &>path {
        stroke: v.$light-background;
    }
}

.sun {
    &>path {
        fill: v.$dark-background;
    }
}

@media (pointer: coarse) {
    button {
        &.dark-mode {
            background-color: unset;
            &:hover {
                background-color: unset;
                &:hover path {
                    stroke: unset;
                    fill: unset;
                }
            }
        }
        &:hover {
            background-color: unset;
        }
        &:hover path {
            fill: unset;
        }
    }
}