<div class="info-panel-container">
    <div class="text-container">
        <h1 class="name">Hi! I'm <span class="name-highlight">Noureldeen Ahmed</span></h1>
        <p class="intro-text">
            I'm a passionate and versatile <span class="green-highlight">Software Engineer</span>, with an insatiable thirst for learning and progress.
        </p>
        <p class="intro-text">I'm a third-year student at the <span class="green-highlight">University Of Guelph.</span></p>
        <p class="intro-text">I'm a creative <span class="green-highlight">problem solver</span> and an <span class="green-highlight">idea factory.</span></p>
    </div>
    <div class="img-container">
        <img class="profile-picture" src="assets/badheadshotcoppped.jpg">
    </div>
</div>