<div class="hidden size-full gap-6 rounded-md border-b-8 border-solid border-transparent bg-light-background p-6 opacity-60 outline outline-2 outline-accent/30 sm:flex" [ngClass]="{'dark-mode !bg-dark-background': darkMode$ | async, 'flex-row-reverse': reverse, 'highlight-thick delay-300 !outline-accent/60 !opacity-100': highlight$, 'no-underline': !highlight$, 'border-dark-background': highlight$}">
    <div class="flex w-2/5 flex-col gap-2">
        <a [href]="project.githubLink" target="_blank" class="group relative hover:bg-accent">
            <h1 class="heading2 btn absolute left-0 top-0 col-span-2 underline decoration-accent opacity-0 group-hover:bg-accent group-hover:decoration-black group-hover:opacity-100" [ngClass]="{ 'dark-mode': darkMode$ | async} ">View Github Repo</h1>
            <h1 class="heading2 btn col-span-2 underline decoration-accent group-hover:opacity-0" [ngClass]="{ 'dark-mode': darkMode$ | async} ">{{project.title}}</h1>
        </a>
        <div class="relative flex size-full cursor-pointer items-center justify-center overflow-hidden rounded-md border-b-8 border-solid border-dark-background" [ngClass]="{'highlight-thick': highlight$, 'delay-300': highlight$}">
            <img class="right-0 top-0 block size-full object-cover" [src]="project.media">
            <a [href]="project.externalMedia" target="_blank" class="group absolute flex size-full items-center justify-center opacity-0 hover:bg-black/80 hover:opacity-100">
                <span class="subheading px-2 underline group-hover:bg-accent group-hover:decoration-black" [ngClass]="{ 'dark-mode': darkMode$ | async}">{{project.externalMediaText}}</span>
            </a>
        </div>
    </div>
    <div class="flex h-full w-3/5 flex-col">
        <div class="background mb-4 h-full overflow-y-auto rounded-md" [ngClass]="{ 'dark-mode': darkMode$ | async, 'highlight-thick': highlight$, 'delay-300': highlight$ }">
            <div *ngFor="let content of project.body ">
                <h2 class="subheading underline decoration-accent" [ngClass]="{ 'dark-mode': darkMode$ | async, 'hidden': !!!content.heading}">{{content.heading}}</h2>
                <p class="body-text" [ngClass]="{ 'dark-mode': darkMode$ | async, 'hidden': !!!content.body }" [innerHTML]="content.body"></p>
                <ul class="body-text" [ngClass]="{ 'dark-mode': darkMode$ | async, 'hidden': !!!content.list}"><li *ngFor="let item of content.list" [innerHTML]="item"></li></ul>
                <br>
            </div>
        </div>
        <p class="body-text" [ngClass]="{ 'dark-mode': darkMode$ | async }"><span class="subheading underline decoration-accent" [ngClass]="{ 'dark-mode': darkMode$ | async }">Tech:</span> <span *ngFor="let tech of project.tech; let i = index"> {{tech}}<span *ngIf="i !== project.tech.length - 1">,</span></span>
        </p>
        <p class="body-text" [ngClass]="{ 'dark-mode': darkMode$ | async }"><span class="subheading underline decoration-accent" [ngClass]="{ 'dark-mode': darkMode$ | async }">Skills Learnt:</span> <span *ngFor="let skill of project.skillsLearnt; let i = index"> {{skill}}<span *ngIf="i !== project.skillsLearnt.length - 1">,</span></span>
        </p>
    </div>
</div>
<div #top class="m-0  h-fit w-full rounded-md border-b-8 border-solid border-dark-background bg-light-background md:hidden" [ngClass]="{'dark-mode !bg-dark-background': darkMode$ | async, 'highlight-thick': (highlight$ || (expanded|async)), 'delay-300': (highlight$ || (expanded|async)),  'no-underline': ((expanded|async)===false && !highlight$)}">
    <a [href]="project.externalMedia" target="_blank" class="size-full overflow-hidden rounded-t-md delay-0" [ngClass]="{'highlight-thick': (highlight$ || (expanded|async))}">
            <img [src]="project.media" class="h-auto w-full object-cover" [ngClass]="{'!h-16': (expanded|async)}">
    </a>
    <a [href]="project.githubLink" target="_blank">
        <h1 class="heading2 btn underline decoration-accent" [ngClass]="{ 'dark-mode': darkMode$ | async} ">{{project.title}}</h1>
    </a>
    <div class="flex h-full flex-col p-3 pt-0" >
        <div #textContainer class="relative row-span-5 h-full max-h-48 overflow-y-hidden rounded-md" [ngClass]="{ 'dark-mode': darkMode$ | async, 'highlight-thick': (highlight$ || (expanded|async)), 'max-h-[50vh] !overflow-y-auto': (expanded|async)}">
            <div *ngFor="let content of project.body ">
                <h2  class="subheading underline decoration-accent" [ngClass]="{ 'dark-mode': darkMode$ | async }">{{content.heading}}</h2>
                <p class="body-text" [ngClass]="{ 'dark-mode': darkMode$ | async }" [innerHTML]="content.body"></p>
                <ul class="body-text" [ngClass]="{ 'dark-mode': darkMode$ | async, 'hidden': !!!content.list}"><li *ngFor="let item of content.list" [innerHTML]="item"></li></ul>
                <br>
            </div>
            <span class="sticky bottom-0 block w-full bg-light-background font-mono text-accent" (click)="scroll(textContainer); open()" *ngIf="(expanded|async) === false" [ngClass]="{ 'dark-mode !bg-dark-background': darkMode$ | async }">more...</span>
            <span class="sticky bottom-0 block w-full bg-light-background font-mono text-accent" (click)="scroll(top); close()" *ngIf="(expanded|async)" [ngClass]="{ 'dark-mode !bg-dark-background': darkMode$ | async }">less...</span>
        </div>
    </div>
    <div class="p-3" *ngIf="(expanded|async) === false">
        <p class="body-text" [ngClass]="{ 'dark-mode': darkMode$ | async }"><span class="subheading underline decoration-accent" [ngClass]="{ 'dark-mode': darkMode$ | async }">Tech:</span> <span *ngFor="let tech of project.tech; let i = index"> {{tech}}<span *ngIf="i !== project.tech.length - 1">,</span></span>
        </p>
        <p class="body-text" [ngClass]="{ 'dark-mode': darkMode$ | async }"><span class="subheading underline decoration-accent" [ngClass]="{ 'dark-mode': darkMode$ | async }">Skills Learnt:</span> <span *ngFor="let skill of project.skillsLearnt; let i = index"> {{skill}}<span *ngIf="i !== project.skillsLearnt.length - 1">,</span></span>
        </p>
    </div>
</div>