<div class="background-color hidden h-full w-full gap-6 border-b-8 border-solid border-dark-background p-6 sm:flex" [ngClass]="{'dark-mode': darkMode$ | async, 'flex-row-reverse': reverse, 'highlight-thick': highlight$, 'delay-300': highlight$,  'no-underline': !highlight$}">
    <div class="flex w-2/5 flex-col gap-2">
        <a [href]="project.githubLink" target="_blank" class="group relative hover:bg-accent">
            <h1 class="heading btn absolute left-0 top-0 col-span-2 underline decoration-accent opacity-0 group-hover:bg-accent group-hover:decoration-black group-hover:opacity-100" [ngClass]="{ 'dark-mode': darkMode$ | async} ">View Github Repo</h1>
            <h1 class="heading btn col-span-2 underline decoration-accent group-hover:opacity-0" [ngClass]="{ 'dark-mode': darkMode$ | async} ">{{project.title}}</h1>
        </a>
        <div class="relative flex h-full w-full cursor-pointer items-center justify-center overflow-hidden border-b-8 border-solid border-dark-background" [ngClass]="{'highlight-thick': highlight$, 'delay-300': highlight$}">
            <img class="right-0 top-0 block h-full w-full object-cover" [src]="project.media">
            <a [href]="project.externalMedia" target="_blank" class="group absolute flex h-full w-full items-center justify-center opacity-0 hover:bg-black/80 hover:opacity-100">
                <span class="subheading px-2 underline group-hover:bg-accent group-hover:decoration-black" [ngClass]="{ 'dark-mode': darkMode$ | async}">{{project.externalMediaText}}</span>
            </a>
        </div>
    </div>
    <div class="grid h-full w-3/5 grid-rows-5">
        <div class="border-dark-back ground row-span-5 h-80 overflow-y-auto" [ngClass]="{ 'dark-mode': darkMode$ | async, 'highlight-thick': highlight$, 'delay-300': highlight$ }">
            <div *ngFor="let content of project.body ">
                <h2 class="subheading underline decoration-accent" [ngClass]="{ 'dark-mode': darkMode$ | async }">{{content.heading}}</h2>
                <h2 class="body-text" [ngClass]="{ 'dark-mode': darkMode$ | async }" [innerHTML]="content.body"></h2><br>
            </div>
        </div>
        <p class="body-text" [ngClass]="{ 'dark-mode': darkMode$ | async }"><span class="subheading underline decoration-accent" [ngClass]="{ 'dark-mode': darkMode$ | async }">Tech:</span> <span *ngFor="let tech of project.tech; let i = index"> {{tech}}<span *ngIf="i !== project.tech.length - 1">,</span></span>
        </p>
        <p class="body-text" [ngClass]="{ 'dark-mode': darkMode$ | async }"><span class="subheading underline decoration-accent" [ngClass]="{ 'dark-mode': darkMode$ | async }">Skills Learnt:</span> <span *ngFor="let skill of project.skillsLearnt; let i = index"> {{skill}}<span *ngIf="i !== project.skillsLearnt.length - 1">,</span></span>
        </p>
    </div>
</div>