@use '../../../assets/_variables' as v;
.home-container {
    position: relative;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    align-items: center;
    &>* {
        margin: 5%;
    }
}

.dark-mode-button {
    position: absolute;
    z-index: 1;
    right: 3vw;
    bottom: 3vw;
    width: 8vh;
    height: 8vh;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 10vh;
    text-decoration: underline;
    text-decoration-color: v.$accent-color;
    margin: 0;
    &.dark-mode {
        color: v.$light-background;
    }
}

.headshot {
    width: 60%;
    border-radius: 2rem;
    justify-self: center;
    align-self: center;
    opacity: 1;
    max-height: 30vh;
    object-fit: cover;
}

.subtitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vh;
    &.dark-mode {
        color: v.$light-background;
    }
    opacity: 1;
}

.info-buttons-container {
    align-self: baseline;
    margin: 0;
    padding: 0;
    grid-row: 2;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

a {
    color: unset;
}

.text-container {
    align-self: center;
}

.network-icons {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
    align-self: flex-start;
    grid-column: 2;
    & svg {
        height: 45px;
        border-bottom: v.$accent-color solid 4px;
        transition: 0.3s;
    }
    &.dark-mode svg {
        fill: v.$light-background;
    }
    & svg:hover {
        border-bottom: v.$accent-color solid 9px;
        transform: translateY(-5px);
    }
}

.mobile-image {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    grid-row: 2;
    margin: 5%;
}

.text-shrink {
    animation: text-shrink 1s 0.1s forwards;
}

.animate-in {
    opacity: 0;
    animation: fade-in 1s 3s forwards;
}

.animate-in-list {
    & li {
        opacity: 0;
    }
    & li:nth-child(1) {
        animation: fade-in 1s 3.3s forwards;
    }
    & li:nth-child(2) {
        animation: fade-in 1s 3.5s forwards;
    }
    & li:nth-child(3) {
        animation: fade-in 1s 3.7s forwards;
    }
}

@keyframes text-shrink {
    0% {
        font-size: inherit;
    }
    100% {
        font-size: 1.5rem;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@media (max-width: 600px) {
    .home-container {
        grid-template-rows: 1fr auto 1fr;
        grid-template-columns: 100%;
        height: 100%;
        width: 100%;
    }
    .title {
        font-size: 12vw;
    }
    .subtitle {
        font-size: 5vw;
        justify-self: flex-end;
    }
    .network-icons {
        align-self: unset;
        flex-direction: column;
        align-items: center;
    }
    .info-buttons-container {
        grid-row: 3;
        margin: 5%;
        align-self: center;
    }
    .text-container {
        margin: 0 5% 0 5% !important;
    }
    .headshot {
        border-radius: 2rem;
    }
}