@use '../../../assets/_variables' as v;
.home-container {
    position: relative;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    align-items: center;
}

.dark-mode-button {
    position: absolute;
    z-index: 1;
    right: 3vw;
    bottom: 3vw;
    width: 8vh;
    height: 8vh;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 10vh;
    text-decoration: underline;
    text-decoration-color: v.$accent-color;
    margin: 0;
    &.dark-mode {
        color: v.$light-background;
    }
}

.headshot {
    width: 60%;
    border-radius: 2rem;
    justify-self: center;
    align-self: center;
    opacity: 1;
    max-height: 30vh;
    min-height: 230px;
    object-fit: cover;
    transform: translateX(-20px);
    box-shadow: v.$accent-color 40px 20px 0px;
    transition: 0.3s;
    &:hover {
        box-shadow: v.$accent-color 60px 20px 0px;
        transform: translateX(-30px);
    }
}

.subtitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vh;
    &.dark-mode {
        color: v.$light-background;
    }
    opacity: 1;
}

.info-buttons-container {
    align-self: center;
    margin: 0;
    padding: 0;
    grid-row: 2;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.contact-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    background-color: v.$light-background;
    height: fit-content;
    padding: 20px;
    gap: 10px;
    width: 50%;
    margin: auto;
    border-radius: 2rem;
    &.dark-mode {
        color: whitesmoke;
        background-color: v.$dark-background;
    }
    &>h3 {
        @include v.underline-text;
        font-weight: bold !important;
        margin: 1rem;
        font-size: 3vh;
    }
}

a {
    color: unset;
}

.text-container {
    align-self: center;
}

.network-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 6.5vh;
    max-height: 3.2rem;
    & svg {
        height: 6vh;
        max-height: 3rem;
        border-bottom: v.$accent-color solid 4px;
        transition: 0.3s;
    }
    &.dark-mode svg {
        fill: v.$light-background;
    }
    & svg:hover {
        border-bottom: v.$accent-color solid 9px;
        transform: translateY(-5px);
    }
}

.mobile-image {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin: 5%;
}

.text-shrink {
    animation: text-shrink 1s 0.1s forwards;
}

.animate-in {
    opacity: 0;
    animation: fade-in 1s 3s forwards;
}

.animate-in-list {
    & li {
        opacity: 0;
    }
    & li:nth-child(1) {
        animation: fade-in 1s 3.3s forwards;
    }
    & li:nth-child(2) {
        animation: fade-in 1s 3.5s forwards;
    }
    & li:nth-child(3) {
        animation: fade-in 1s 3.7s forwards;
    }
}

@keyframes text-shrink {
    0% {
        font-size: inherit;
    }
    100% {
        font-size: 1.5rem;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@media (max-width: 600px) {
    .home-container {
        display: flex;
        flex-direction: column;
        height: 90%;
        width: 90%;
        align-items: flex-start;
    }
    .title {
        font-size: 12vw;
    }
    .subtitle {
        font-size: 5vw;
        justify-self: flex-end;
    }
    .contact-container {
        margin: 0;
        width: fit-content;
        padding: 0;
        background: none;
        margin-left: 0.3rem;
        &.dark-mode {
            background: none;
        }
        &>h3 {
            margin: 0;
        }
    }
    .network-icons {
        justify-content: space-between;
    }
    .info-buttons-container {
        grid-row: 2;
        margin: 5%;
        align-self: start;
    }
    .text-container {
        margin: 0 5% 0 5% !important;
    }
    .headshot {
        border-radius: 2rem;
        box-shadow: v.$accent-color 20px 20px 0px;
        transform: none;
    }
    .dark-mode-button {
        bottom: 6vh;
    }
}