@use '../../../assets/_variables' as v;
.work-container {
    height: 100%;
    overflow: auto;
    width: 80%;
    max-width: 500px;
    background-color: v.$light-background;
    padding: 5%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 25rem;
    margin: 0 5% 0 5%;
    &.dark-mode {
        background-color: v.$dark-background;
    }
}

.underline {
    text-decoration: underline;
    text-decoration-color: v.$accent-color;
    font-weight: 600;
    font-size: 1.2rem;
    &.work-info {
        margin: 0.6rem 0 0.3rem 0;
    }
}

.detail-button {
    @include v.underline-button;
    font-size: 2.5vh;
    &.open {
        &::after {
            transition: 0.3s margin;
            content: ">";
            margin-left: -7px;
        }
        &:hover::after {
            margin-left: 0;
        }
    }
}

ul {
    list-style-type: "-  ";
    & li::marker {
        color: v.$accent-color;
        font-weight: 600;
    }
}

.work-logo {
    width: 100%;
    height: auto;
    margin: 0 auto 0 auto;
}

.title {
    @include v.underline-button;
    font-size: x-large;
    transform: translateX(-0.3rem);
    margin-top: 1rem;
}

a {
    color: unset;
}

.text-container {
    &.dark-mode {
        color: v.$light-background;
    }
    &>p,
    ul {
        margin: 0.2rem 0.2rem 0 0;
        &.details {
            margin: 0.1rem;
        }
        &>a {
            text-decoration: none;
        }
    }
}

.details-modal {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: rgba(v.$light-background, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
    visibility: hidden;
    &.show {
        opacity: 1;
        visibility: visible;
    }
    &.dark-mode {
        background-color: rgba(v.$dark-background, 0.7);
    }
}

.details-container {
    width: 80ch;
    height: 80%;
    background-color: v.$light-background;
    font-family: 'Courier New', Courier, monospace;
    padding: 0 3% 3% 3%;
    box-sizing: border-box;
    & ul {
        margin: 0.3rem 0 0.3rem 0;
    }
    &>.detail-button-container {
        width: 100%;
        height: 7.1vh;
        background-color: inherit;
        position: sticky;
        top: 0;
        right: 0;
        transform: translate(-5%, -0.1vh);
        padding-right: 5%;
        padding-top: 0.1vh;
        box-sizing: border-box;
        &>.detail-button {
            float: right;
            margin-top: 0.3rem;
        }
    }
    &.dark-mode {
        background-color: v.$dark-background;
        color: v.$light-background;
    }
}

.details-text-container {
    overflow-y: auto;
    height: 100%;
}

@media (max-width: 600px) {
    .work-container {
        max-width: unset;
        min-width: 85vw;
        width: auto;
        height: 100%;
    }
    .work-logo {
        max-width: 80vw;
    }
    .details-modal {
        bottom: 0;
        height: 99%;
    }
    .details-container {
        height: 100%;
        width: 100%;
        padding-bottom: 10vh;
    }
}