<div [ngClass]="{'work-container': true, 'dark-mode':darkMode$|async}">
    <img *ngIf="(darkMode$ | async) == false" [style]="experienceInfo.customImageStyle" [ngClass]="{'work-logo':true}" [src]="experienceInfo.image">
    <img *ngIf="darkMode$ | async" [style]="experienceInfo.customImageStyle" [ngClass]="{'work-logo':true}" [src]="experienceInfo.imageDarkMode">
    <div [ngClass]="{'text-container':true, 'dark-mode':darkMode$|async}">
        <a [href]="experienceInfo.companyUrl" target="_blank">
            <h1 [ngClass]="{'work-title':true}">{{experienceInfo.companyName}}</h1>
        </a>
        <p [ngClass]="{'work-info':true}"><span [ngClass]="{'underline':true}">Date:</span> {{experienceInfo.date}}</p>
        <p [ngClass]="{'work-info':true}"><span [ngClass]="{'underline':true}">Position:</span> {{experienceInfo.position}}</p>
        <p [ngClass]="{'work-info':true}"><span [ngClass]="{'underline':true}">Tech:</span> {{experienceInfo.tech}}</p>
        <span [ngClass]="{'underline':true}">Highlights:</span>
        <ul [ngClass]="{'work-info':true}">
            <li *ngFor="let highlight of experienceInfo.highlights">{{highlight}}</li>
        </ul>
    </div>
    <button (click)="openDetails()" [ngClass]="{'detail-button':true, 'open': true, 'dark-mode':darkMode$|async}">See Details    </button>
</div>
<div [ngClass]="{'details-panel': true, 'show': showDetails, 'dark-mode':darkMode$|async}">
    <div [ngClass]="{'details-container': true, 'dark-mode':darkMode$|async}">
        <button (click)="closeDetails()" [ngClass]="{'detail-button':true, 'dark-mode':darkMode$|async}">Close Details X</button>
    </div>
</div>