<div #baseContainer class="mt-1 hidden origin-top scale-75 rounded-md border-accent bg-light-background/75 opacity-60 outline outline-2 outline-accent/30 will-change-transform hover:opacity-100 md:scale-90 lg:scale-90 lg:hover:scale-105 lg:hover:border-b-8 lg:hover:px-10 lg:hover:outline-accent" [ngClass]="{'work-container': true, 'dark-mode bg-dark-background/75': darkMode$|async, '!scale-100 border-b-8 outline-accent !opacity-100': highlight$|async, 'bg-light-background/75': (darkMode$|async) === false}">
    <div class="h-20"><img [style]="experienceInfo.customImageStyle" [ngClass]="{'work-logo':true}" [src]="(darkMode$|async) ? experienceInfo.imageDarkMode? experienceInfo.imageDarkMode : experienceInfo.image : experienceInfo.image"></div>
    <a [href]="experienceInfo.companyUrl" target="_blank">
        <h1 [ngClass]="{'title':true, 'dark-mode':darkMode$|async}">{{experienceInfo.companyName}}</h1>
    </a>
    <div class="z-20 mb-10 h-auto overflow-y-auto" [ngClass]="{'text-container':true, 'dark-mode':darkMode$|async}">
        <p [ngClass]="{'work-info':true}"><span [ngClass]="{'underline':true}">Date:</span> {{experienceInfo.date}}</p>
        <p *ngIf="experienceInfo.reference" [ngClass]="{'work-info':true}"><span [ngClass]="{'underline':true}">Reference:</span> <a [href]="referenceHref"> {{experienceInfo.reference}}</a></p>
        <p [ngClass]="{'work-info':true}"><span [ngClass]="{'underline':true}">Position:</span> {{experienceInfo.position}}</p>
        <p [ngClass]="{'work-info':true}"><span [ngClass]="{'underline':true}">Tech:</span> {{experienceInfo.tech}}</p>
        <p [ngClass]="{'underline':true}">Highlights:</p>
        <ul>
            <li *ngFor="let highlight of experienceInfo.highlights">{{highlight}}</li>
        </ul>
    </div>
    <button (click)="openDetails()" class="absolute bottom-2 right-4" [ngClass]="{'detail-button':true, 'open': true, 'dark-mode':darkMode$|async}">See Details    </button>
    <div class="absolute -right-1/4 top-0 h-24 w-48 rounded-full bg-accent/20 blur-3xl" [ngClass]="{'opacity-10' : (darkMode$|async) === false}"></div>
    <div class="absolute -left-12 bottom-0 h-32 w-64 rounded-full bg-accent/20 blur-3xl" [ngClass]="{'opacity-10' : (darkMode$|async) === false}"></div>
</div>
<div [ngClass]="{'details-modal': true, 'show': showDetails, 'dark-mode':darkMode$|async}" (click)="detailClick($event);">
    <div class="mx-[2px] overflow-hidden rounded-md border-b-8 border-accent outline outline-2 outline-accent lg:mx-0" [ngClass]="{'details-container': true, 'dark-mode':darkMode$|async}" #detailComponent>
        <ng-container *ngIf="experienceInfo.details; else inProgress">
            <div class="absolute right-0 top-0 h-auto w-full bg-inherit ">
                <button class="relative !ml-4 !mt-3 box-content min-w-[36px]" (click)="closeDetails()" [ngClass]="{'detail-button':true, 'close':true, 'dark-mode':darkMode$|async}">    Close Details</button>
            </div>
            <div class="px-4 pt-14" [ngClass]="{'details-text-container': true, 'dark-mode':darkMode$|async}">
                <h3 [ngClass]="{'underline':true, 'work-info':true}">Introduction:</h3>
                <p [ngClass]="{'work-info':true, 'details': true}" [innerHTML]="experienceInfo.details.introduction"></p>
                <h3 [ngClass]="{'underline':true, 'work-info':true}">About My Employer:</h3>
                <p [ngClass]="{'work-info':true, 'details': true}" [innerHTML]="experienceInfo.details.aboutEmployer"></p>
                <h3 [ngClass]="{'underline':true, 'work-info':true}">Learning Goals:</h3>
                <p [ngClass]="{'work-info':true, 'details': true}">My goals for this work term were to:</p>
                <ul>
                    <li *ngFor="let goal of experienceInfo.details.learningGoals" [ngClass]="{'work-info':true}" [innerHTML]="goal"></li>
                </ul>
                <p [ngClass]="{'work-info':true, 'details': true}" [innerHTML]="experienceInfo.details.learningGoalsReflection"></p>
                <h3 [ngClass]="{'underline':true, 'work-info':true}">Experience:</h3>
                <ng-container *ngFor="let section of experienceInfo.details.experience">
                    <h4 *ngIf="section.heading" class="work-info underline" [innerHTML]="section.heading"></h4>
                    <p [ngClass]="{'work-info':true, 'details': true}" [innerHTML]="section.body"></p>
                </ng-container>
                <h3 [ngClass]="{'underline':true, 'work-info':true}">Conclusion:</h3>
                <p [ngClass]="{'work-info':true, 'details': true}" [innerHTML]="experienceInfo.details.conclusion"></p>
                <h3 [ngClass]="{'underline':true, 'work-info':true}">Acknowledgments:</h3>
                <p [ngClass]="{'work-info':true, 'details': true}" [innerHTML]="experienceInfo.details.acknowledgments"></p>
            </div>
        </ng-container>
        <ng-template #inProgress>
            <div class="absolute right-0 top-0 h-auto w-full bg-inherit pr-[10%]">
                <button class="float-right" (click)="closeDetails()" [ngClass]="{'detail-button':true, 'dark-mode':darkMode$|async}">Close Details X</button>
            </div>
            <app-in-progress [fullPage]="false"></app-in-progress>
        </ng-template>
    </div>
</div>