@use '../../../assets/_variables' as v;
.work-container {
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    max-width: 500px;
    padding: 5%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    min-width: 25rem;
}

.underline {
    text-decoration: underline;
    text-decoration-color: v.$accent-color;
    font-weight: 900;
    font-size: 1.2rem;
    &.work-info {
        margin: 0.6rem 0 0.3rem 0;
    }
}

.detail-button {
    @include v.underline-button;
    // font-size: 2.5vh; 
    &.open {
        &::after {
            transition: 0.3s margin;
            content: ">";
            margin-left: -7px;
        }
        &:hover::after {
            margin-left: 0;
        }
    }
    &.close {
        &::before {
            transition: 0.3s margin;
            content: "<";
            margin-right: -7px;
        }
        &:hover::before {
            margin-right: 0;
        }
    }
}

.work-logo {
    width: 100%;
    height: auto;
    margin: 0 auto 0 auto;
}

.title {
    @include v.underline-button;
    font-size: x-large;
    transform: translateX(-0.3rem);
    margin-top: 1rem;
}

a {
    color: unset;
}

.text-container {
    &.dark-mode {
        color: v.$light-background;
    }
    &>p,
    ul {
        margin: 0.2rem 0.2rem 0 0;
        &.details {
            margin: 0.1rem;
        }
        &>a {
            text-decoration: none;
        }
    }
}

.details-modal {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: rgba(v.$light-background, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
    visibility: hidden;
    &.show {
        opacity: 1;
        visibility: visible;
    }
    &.dark-mode {
        background-color: rgba(v.$dark-background, 0.7);
    }
}

.details-container {
    width: 80ch;
    height: 80%;
    background-color: v.$light-background;
    font-family: 'Courier New', Courier, monospace;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    position: relative;
    & ul {
        margin: 0.3rem 0 0.3rem 0;
    }
    &.dark-mode {
        background-color: v.$dark-background;
        color: v.$light-background;
    }
}

.details-text-container {
    overflow-y: auto;
    height: 100%;
}

@media (max-width: 600px) {
    .work-container {
        max-width: unset;
        min-width: 85vw;
        width: auto;
        height: 100%;
    }
    .work-logo {
        max-width: 80vw;
    }
    .details-modal {
        bottom: 0;
        height: 99%;
    }
    .details-container {
        height: 100%;
        width: 100%;
    }
}