<app-background></app-background>
<app-navbar [currPage]="1"></app-navbar>
<app-dark-mode-button class="dark-mode-button"></app-dark-mode-button>
<div class="center">
    <div [ngClass]="{'experience-container': true}">
        <div [ngClass]="{'work-container': true, 'dark-mode':darkMode$|async}">
            <img *ngIf="(darkMode$ | async) == false" [ngClass]="{'work-logo':true}" src="assets/system1-logo.svg">
            <img *ngIf="darkMode$ | async" [ngClass]="{'work-logo':true}" src="assets/system1-logo-dark.svg">
            <div [ngClass]="{'text-container':true, 'dark-mode':darkMode$|async}">
                <a href="https://system1.com/" target="_blank">
                    <h1 [ngClass]="{'work-title':true}">System1</h1>
                </a>
                <p [ngClass]="{'work-info':true}"><span [ngClass]="{'underline':true}">Date:</span> Sept 2022 - Dec 2022 (4 months)</p>
                <p [ngClass]="{'work-info':true}"><span [ngClass]="{'underline':true}">Position:</span> Full Stack Software Engineer Co-Op</p>
                <p [ngClass]="{'work-info':true}"><span [ngClass]="{'underline':true}">Tech:</span> Angular, .NET, Snowflake</p>
                <span [ngClass]="{'underline':true}">Highlights:</span>
                <ul [ngClass]="{'work-info':true}">
                    <li>Recognized for my fast learning on a large production project using cutting-edge Angular and .NET patterns.</li>
                    <li>Thrived in fast Agile teams, using Jira and Slack to ensure efficient communication in a remote setting.</li>
                </ul>
            </div>
            <button [ngClass]="{'detail-button':true, 'dark-mode':darkMode$|async}">See Details    </button>
        </div>
        <div [ngClass]="{'work-container': true, 'dark-mode':darkMode$|async}">
            <img *ngIf="(darkMode$ | async) == false" [ngClass]="{'work-logo':true, 'ebc-logo':true}" src="assets/ebc-logo.png">
            <img *ngIf="darkMode$ | async" [ngClass]="{'work-logo':true, 'ebc-logo':true}" src="assets/ebc-logo-dark.png">
            <div [ngClass]="{'text-container':true, 'dark-mode':darkMode$|async}">
                <a href="https://www.egyptianbanks.com/" target="_blank">
                    <h1 [ngClass]="{'work-title':true}">Egyptian Banks Company</h1>
                </a>
                <p [ngClass]="{'work-info':true}"><span [ngClass]="{'underline':true}">Date:</span> May 2022 - Aug 2022 (4 months)</p>
                <p [ngClass]="{'work-info':true}"><span [ngClass]="{'underline':true}">Position:</span> Full Stack Software Engineer Co-Op</p>
                <p [ngClass]="{'work-info':true}"><span [ngClass]="{'underline':true}">Tech:</span> Angular, Java Spring, MSSQL</p>
                <span [ngClass]="{'underline':true}">Highlights:</span>
                <ul [ngClass]="{'work-info':true}">
                    <li>Developed a model Automated Clearing House (ACH) system using Java and MSSQL.</li>
                    <li>Transformed the ACH model into a web-app using Spring Boot and Angular.</li>
                </ul>
            </div>
            <button [ngClass]="{'detail-button':true, 'dark-mode':darkMode$|async}">See Details    </button>
        </div>
    </div>
</div>