$dark-background: rgb(22, 22, 22);
$light-background: rgb(226, 223, 225);
$accent-color: rgb(227, 45, 145);
@mixin underline-text {
  text-decoration: underline;
  text-decoration-color: $accent-color;
  text-decoration-thickness: 2px;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  &.dark-mode {
    color: $light-background;
  }
}

@mixin main-title {
  background-color: $accent-color;
  font-size: 3vh;
  font-weight: 900;
  padding: 0.5vh 1vh;
  border-radius: 1.5vh;
  font-family: 'Courier New', Courier, monospace;
  &.dark-mode {
    color: $light-background;
  }
}

@mixin underline-button {
  @include underline-text;
  font-weight: 900;
  background-color: unset;
  border: none;
  padding: 0.3rem;
  margin: 0;
  cursor: pointer;
  font-size: 1.4rem;
  transition: 0.3s;
  width: fit-content;
  align-self: flex-end;
  &:hover {
    background-color: $accent-color;
    color: $light-background;
    text-decoration-color: $dark-background;
  }
  border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
}
