<div [@projectPageAnimation] class="project-page-container">
    <div [@textAnimation] class="text-container">
        <h1 class="title">Introduction:</h1>
        <div class="img-container"><img class="ebc-logo" src="assets/EBCLogo.png"></div>
        <p>For my summer 2022 Co-Op placement, I worked with the Egyptian Banks Company in order to <span class="bold">implement a model Automatic Clearing House System.</span> This was a <span class="bold">full stack project</span> making use of
            <span class="bold">Java SpringBoot</span>,
            <span class="bold">Angular</span> and <span class="bold">SQL Server</span></p>
        <h1 class="title">About My Employer:</h1>
        <p>Egyptian Banks Company is a <span class="bold">FinTech company</span> owned by the <span class="bold">Central bank of Egypt.</span> They handle the <span class="bold">technology infrastructure</span> behind <span class="bold">inter-bank transactions</span>            and <span class="bold">ATMs</span>.
            <br>
        </p>
        <h1 class="title">Learning Goals:</h1>
        <p>My goals for this work term were to:</p>
        <ul>
            <li>Become more familiar with production level software engineering best practices.</li>
            <li>Expand my ability to develop web apps and REST APIs.</li>
            <li>Improve my ability to work in a team on a production level project.</li>
        </ul>
        <p>These goals would help me on my next work term placements as they would give me experience in highly demanded skills and abilities in todays Software Engineering environment. Previously, I have had experience dealing with web apps and developing
            my own APIs in my <a href="https://github.com/nnourr/Tankie">Tankie project</a> as well as my SVG Image Parser university project at the University of Guelph. However, in order to expand my skills to a production-level standard, I had to make
            an attentive effort to analyze existing production level and engage in active feedback with my superiors.
        </p>
        <h1 class="title">Experience:</h1>
        <p>As previously mentioned, my assigned task was to create a model <span class="bold">Automatic Clearing House System.</span> An Automatic Clearing House system allows for the management of electronic banking transactions. This was achieved by using
            the REST API, JPA and DTO/Entity models. For implementation, I used Java Spring Boot, SQL Server and Angular. I was able to develop my Software Engineering best practices by learning Test Driven Development in Visual Studio Code. While I wasn't
            able to work in a team, I was able to co-operate with my fellow Co-Op team members on the same project, allowing us to share our ideas and learn from each other's techniques.</p>
        <h1 class="title">Conclusion:</h1>
        <p>In conclusion, my Summer 2022 work term experience was extremely positive to my future work. It was crucial to my understanding of the role of best practices in production environments, as well as in developing my web app experience.
        </p>
        <h1 class="title">Acknowledgments:</h1>
        <p>I would to give a special thanks to my supervisors Mohammed Nasser and Emad Samir for their continued assistance during and after my work term. They guided me effectively through the new challenges I had to face during this work term.</p>
    </div>
</div>