@use '../../../assets/_variables' as v;
.info-buttons-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-self: baseline;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-row: 2;
}

.show-as-rows {
    display: block
}

.info-button {
    @include v.underline-button;
    font-size: 2.7vh;
}

a {
    color: unset;
}

.animate-in-list {
    & li {
        opacity: 0;
    }
    & li:nth-child(1) {
        -webkit-animation: fadeIn 1s 3.3s forwards;
        animation: fadeIn 1s 3.3s forwards;
    }
    & li:nth-child(2) {
        -webkit-animation: fadeIn 1s 3.5s forwards;
        animation: fadeIn 1s 3.5s forwards;
    }
    & li:nth-child(3) {
        -webkit-animation: fadeIn 1s 3.7s forwards;
        animation: fadeIn 1s 3.7s forwards;
    }
}
