@use '../../../assets/_variables' as v;
.background {
    position: absolute;
    width: 100vw;
    height: 100%;
    right: 0;
    top: 0;
    overflow: hidden;
    transition: 0.3s;
    background-color: v.$light-background;
    &.dark-mode {
        background-color: v.$dark-background;
        &:after {
            -webkit-mask-image: url('../../../assets/tic-tac-toe.svg');
            mask-image: url('../../../assets/tic-tac-toe.svg');
            mask-size: 10vh;
        }
    }
    &:after {
        transform: rotate(45deg);
        content: "";
        background-color: rgb(179, 179, 179);
        -webkit-mask-image: url('../../../assets/circuit-board.svg');
        mask-image: url('../../../assets/circuit-board.svg');
        mask-size: 40vh;
        position: absolute;
        width: 500%;
        height: 500%;
        top: -150%;
        left: -150%;
        opacity: 0.1;
    }
}