@use '../../../assets/_variables' as v;
.background {
    position: absolute;
    width: 100vw;
    height: 100%;
    right: 0;
    top: 0;
    overflow: hidden;
    transition: 0.3s;
    background-color: v.$light-background;
    &.dark-mode {
        background-color: v.$dark-background;
        &:after {
            -webkit-mask-image: url('../../../assets/circuit-board.svg');
            -webkit-mask-size: 40vh;
            mask-image: url('../../../assets/circuit-board.svg');
            mask-size: 40vh;
        }
    }
    &:after {
        -webkit-mask-size: 10vh;
        -webkit-mask-image: url('../../../assets/tic-tac-toe.svg');
        mask-size: 10vh;
        mask-image: url('../../../assets/tic-tac-toe.svg');
        transform: rotate(45deg);
        content: "";
        background-color: #c18aaa;
        position: absolute;
        width: 400vw;
        height: 400vh;
        top: -150%;
        left: -150%;
        opacity: 0.1;
        mask-border: #334455 2px;
    }
}