@use '../../../assets/_variables' as v;
.center {
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.experience-container {
    height: 100%;
    width: 80%;
    box-sizing: border-box;
    overflow-x: auto;
}

.work-container {
    height: 90%;
}

.title {
    align-self: baseline;
}

@media (max-width: 600px) {
    .center {
        height: 90%;
    }
    .experience-container {
        width: 100%;
        padding-top: 20%;
        align-self: flex-end;
        padding-top: 0%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .work-container {
        height: 88%;
        margin: 0;
    }
    .title {
        margin: 5% 0 5% 5%;
        font-size: 1.5rem;
    }
}