@use '../../../assets/_variables' as v;
.center {
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.experience-container {
    display: flex;
    height: 100%;
    width: 80%;
    box-sizing: border-box;
    overflow-x: auto;
    gap: 5rem;
}

.title {
    align-self: start;
    padding: 12px;
    margin: 12px 0 0 92px;
    background-color: v.$light-background;
    &.dark-mode {
        background-color: v.$dark-background;
    }
}

.work-container {
    margin: auto;
    height: 90%;
}

@media (max-width: 600px) {
    .center {
        height: 90%;
    }
    .experience-container {
        width: 100%;
        padding-top: 20%;
        overflow-x: auto;
        align-self: flex-end;
        gap: 2rem;
        padding-top: 5%;
    }
    .work-container {
        height: 80%;
        margin: 0;
    }
    .work-container:last-child {
        margin-right: 7vw;
    }
    .title {
        margin: 5% 0 5% 5%;
        font-size: 1.5rem;
    }
}