@import 'globals';
@keyframes fadeInInfo {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.info-page-container {
    width: 100%;
    max-width: 800px;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    opacity: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: fadeInInfo 1000ms 3000ms forwards;
}

.text-container {
    background-color: $primary-white;
    padding: 2rem;
    height: 100%;
    padding-right: 2.5rem;
    margin-right: -2rem;
    border-radius: 1rem;
    box-shadow: $default-box-shadow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.intro-text {
    font-size: 1.2rem;
    margin-bottom: 0.1rem;
}

.green-highlight {
    background-color: $primary-green;
    border-radius: 0.3rem;
    font-weight: 500;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.name {
    font-size: 1.9rem;
}

.button-container {
    border-radius: 1rem;
    display: flex;
    gap: 0.6rem;
}

.prm-btn {
    padding: 0.7rem;
    background-color: $primary-white;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    border: 4px solid $primary-green;
    margin: 0;
    position: relative;
    cursor: pointer;
    box-shadow: $small-box-shadow;
    transition: background-color 500ms;
    &:hover {
        background-color: $primary-green;
    }
}

.name-container {
    display: flex;
    height: 7rem;
    justify-content: space-between;
}

a {
    display: contents;
}

@keyframes nameReveal {
    0% {
        width: 105%;
    }
    100% {
        width: 0%;
    }
}

.name-highlight {
    @include greenHighlight;
}

.profile-picture {
    width: 100%;
    height: auto;
    border-radius: 0 1rem 1rem 0;
    box-shadow: $default-box-shadow;
}

.img-container {
    width: 40%;
}

.mobile-img {
    height: 100%;
    width: auto;
    box-shadow: $small-box-shadow;
    border-radius: 1rem;
}

@media only screen and (max-width: 500px) {
    .name {
        font-size: 1.1rem;
    }
    .name-highlight {
        font-size: 1.5rem;
        display: block;
        width: min-content;
        padding: 0.4rem;
        transform: translateX(-0.4rem);
    }
    .intro-text {
        font-size: 1rem;
    }
    .text-container {
        padding: 1rem;
        margin: 0;
        width: 100%;
    }
    .info-page-container {
        height: 100%;
    }
    .name-container {
        padding-bottom: 0.5rem;
    }
    .prm-btn {
        font-size: 1.1rem;
    }
}