$primary-green: rgb(153, 202, 98);
$default-box-shadow-black: rgba(0, 0, 0, 0.368);
$default-box-shadow: 0 0 20px $default-box-shadow-black;
$small-box-shadow: 0 0 5px $default-box-shadow-black;
$background-green: rgb(54, 67, 39);
$primary-white: rgb(252, 245, 252);
$pageTransitionSpeed: 1000ms;