/* You can add global styles to this file, and also import other style files */

@import 'globals';
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}