@use './assets/variables' as v;
.underline {
    text-decoration: underline v.$accent-color;
}

.underlineTitle {
    text-decoration: underline;
    text-decoration-color: v.$accent-color;
    text-decoration-thickness: 2px;
    font-size: 4vh;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    &.dark-mode {
        color: v.$light-background;
    }
}

a {
    color: unset;
}

::selection {
    color: white;
    background: v.$accent-color;
}

.dark-mode::-webkit-scrollbar-thumb {
    background-color: adjust-color($color: v.$dark-background, $lightness: 10%, $alpha: 1.0);
}

.dark-mode::-webkit-scrollbar {
    background-color: adjust-color($color: v.$dark-background, $lightness: 5%, $alpha: 1.0);
}

// .dark-mode::-webkit-scrollbar-button {
//     background-color: adjust-color($color: v.$dark-background, $lightness: 10%, $alpha: 1.0);
// }