@use './assets/variables' as v;
@tailwind base;
@tailwind utilities;
@tailwind components;
$scrollbarWidth: 10px;

.underline {
    text-decoration: underline v.$accent-color;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    &.dark-mode {
        color: v.$light-background;
    }
}

u {
    @extend .underline;
}

.background-color {
    background-color: v.$light-background;
    &.dark-mode {
        background-color: v.$dark-background;
    }
}

.heading {
    text-decoration-thickness: 2px;
    font-size: 3rem;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: v.$light-background;;
    &.dark-mode {
        background-color: v.$dark-background;
        color: v.$light-background;
    }
}

.heading2 {
    @extend .heading;
    font-size: 2.5rem;
    line-height: normal;
    background-color: unset;
}

.btn {
    cursor: pointer;
    padding: 0.5rem;
    &:hover {
        background: v.$accent-color;
        text-decoration-color: v.$dark-background;
    }
}

ul {
    padding-left: 1.5rem;
    list-style-type: "- ";
    & li::marker {
        color: v.$accent-color;
        font-weight: 600;
    }
}

.subheading {
    @extend .heading;
    font-size: 20px;
    background: none;
}

.body-text {
    @extend .subheading;
    font-size: 16px !important;
    font-weight: 400;
    text-decoration: none;
}

.highlight {
    border-bottom: 6px solid v.$accent-color;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.highlight-thick {
    border-bottom: 4px solid rgba(v.$accent-color, 0.6);
}

.no-underline * {
    text-decoration-color: v.$dark-background;
}

* {
    -webkit-tap-highlight-color: transparent;
    transition: all 300ms;
}

a {
    color: unset;
}

::selection {
    color: white;
    background: v.$accent-color;
}

.dark-mode::-webkit-scrollbar-thumb {
    background-color: adjust-color($color: v.$dark-background, $lightness: 10%, $alpha: 1.0);
}

.dark-mode::-webkit-scrollbar {
    background-color: adjust-color($color: v.$dark-background, $lightness: 5%, $alpha: 1.0);
}

::-webkit-scrollbar-thumb {
    background-color: adjust-color($color: v.$light-background, $lightness: -10%, $alpha: 1.0);
    border-radius: $scrollbarWidth;
    -webkit-border-radius: $scrollbarWidth;
    -moz-border-radius: $scrollbarWidth;
    -ms-border-radius: $scrollbarWidth;
    -o-border-radius: $scrollbarWidth;
}

::-webkit-scrollbar {
    width: $scrollbarWidth;
    background-color:
    adjust-color($color:
    v.$light-background,$lightness:
    -5%,$alpha: 1.0);
    border-radius: $scrollbarWidth;
    -webkit-border-radius: $scrollbarWidth;
    -moz-border-radius: $scrollbarWidth;
    -ms-border-radius: $scrollbarWidth;
    -o-border-radius: $scrollbarWidth;
}

.dark-mode-button {
    position: absolute;
    z-index: 20;
    right: 3vw;
    bottom: 3vw;
    width: 8vh;
    height: 8vh;
}

@media (max-width: 830px) {
    .dark-mode-button {
        bottom: 3vh;
        scale: 0.7;
    }
    .heading {
        font-size: 24px;
    }
    .heading2 {
        font-size: 32px;
    }
    .highlight-thick {
        border-bottom: 4px solid rgba(v.$accent-color, 1);
    }
    .subheading {
        font-size: 20px;
    }
}
